<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AcumaticaDeployer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="AcumaticaDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AcumaticaDeployer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <applicationSettings>
    <AcumaticaDeployer.Properties.Settings>
      <setting name="AcumaticaS3Url" serializeAs="String">
        <value>http://acumatica-builds.s3.amazonaws.com/</value>
      </setting>
      <setting name="AcumaticaDeployer_ServiceGate_ServiceGate" serializeAs="String">
        <value>http://localhost/test/api/servicegate.asmx</value>
      </setting>
    </AcumaticaDeployer.Properties.Settings>
    <AcumaticaDownloader.Properties.Settings>
      <setting name="AcumaticaS3Url" serializeAs="String">
        <value>http://acumatica-builds.s3.amazonaws.com/</value>
      </setting>
    </AcumaticaDownloader.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <AcumaticaDeployer.Properties.Settings>
      <setting name="VersionFilter" serializeAs="String">
        <value />
      </setting>
      <setting name="IncludePreview" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DefaultDBUser" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="DefaultDBPassword" serializeAs="String">
        <value>password</value>
      </setting>
      <setting name="DefaultDBServer" serializeAs="String">
        <value>.</value>
      </setting>
      <setting name="CustomizationFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultAcumaticaPassword" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="DefaultAcumaticaAdmin" serializeAs="String">
        <value>setup</value>
      </setting>
    </AcumaticaDeployer.Properties.Settings>
  </userSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>